<section class="intro">
  <div class="container intro-text">
    <div class="row">
      <div class="col-lg-8 d-flex flex-column justify-content-center">
        <h3>Build a stronger relationship with your customers.</h3>
        <p>Completely hassle free.</p>
      </div>
      <img src="/assets/1.jpg" alt="" class="col-lg-4">
    </div>
  </div>
</section>

<section id="about" class="about-container">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2 class="mb-5">Why are we trusted?</h2>

        <p>We specialize in helping you manage your relationships in the easiest way possible.</p>
        <p>Using our web-based application, you will be able to streamline all of your customer profiles in one place.</p>
        <p>We are dedicated to delivering the best service possible to our customers.</p>
      </div>

      <div class="col-12 img-container">
        <img src="/assets/3.jpg" alt="About Us" class="img-fluid w-100 h-100">
      </div>
  </div>
</section>

<section id="products" class="services-container">
  <div class="container">
    <div class="row">
      <div class="col services-column">
        <h3>Sales</h3>
        <p>Track your prospects and the crucial conversations that are being had. This will allow you to grow your business in the fastest way possible.</p>
      </div>
      <div class="col">
        <h3>Marketing</h3>
        <p>Generate new leads for your team and reach new customers that have yet to hear about your product. This is where you build your brand.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Analyze</h3>
        <p>With our cloud based system, you will be able to keep track of your customers and report on them as needed in real-time.</p>
      </div>
      <div class="col">
        <h3>Grow</h3>
        <p>Continue to grow your sales, brand and your business as a whole. Being an entrepreneur has never been this easy!</p>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact-container">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="mb-4">Ready to get started?</h2>

        <p class="mb-3">Try using People 30 days for free. No credit card required.</p>

        <a class="btn btn-lg" href="">Schedule a demo</a>
      </div>
    </div>
  </div>
</section>
