<div class="index-container">
  <div class="title-heading">
    <h2>Clients</h2>
  </div>
  <div class="add-client-container">
    <div class="text-right">
      <%= link_to "Add Client", new_user_client_path, class: "btn btn-primary btn-sm add-client-btn" %>
    </div>
  </div>
  <div class="clients-list">
    <div class="list-group">
      <div class="row">
        <div class="col-1">
          <h6></h6>
        </div>
        <div class="col">
          <h6>Account</h6>
        </div>
        <div class="col">
          <h6>Value</h6>
        </div>
        <div class="col">
          <h6>Decision Maker</h6>
        </div>
        <div class="col">
          <h6>Last Reached Out</h6>
        </div>
        <div class="col">
          <h6>Last Comment</h6>
        </div>
      </div>

      <% if @clients.empty? %>
        <div class="row">
          <div class="col">
            <h6>No Clients</h6>
          </div>
        </div>
      <% end %>

      <% if @clients.any? %>
        <%= render @clients %>
      <% end %>
    </div>
  </div>
</div>
