.title-heading {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.contents-container {
  padding: 20px;
}

.contacts-container {
  background-color: #E2EFDE;
  padding: 10px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.comments-container {
  background-color: #808F87;
  padding: 5px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.comments-header {
  text-align: center;
  padding: 10px;
}

.contacts-header {
  text-align: center;
  padding: 10px;
}

.index-container {
  padding: 20px;
}

.clients-list {
  background-color: #E2EFDE;
  padding: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  text-align: center;
}

.new-client-container {
  padding: 15px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E2EFDE;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
