.new-contact-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.contact-edit-container {
  padding: 10px;
}

.close-contact-edit {
  margin-bottom: 15px;
}

.close-contact-new {
  margin-right: 17px;
}
