.title {
  text-align: center;
  margin-bottom: 30px;
}

.carousel-item {
  height: 500px;
}

.carousel-item > img {
  position: absolute;
  vertical-align: middle;
  min-height: 500px;
}

.intro {
  padding: 20px;
  background-color: #E2EFDE;
}

.intro-text {
  margin-top: 20px;
  padding: 20px;
}

.car-cap-1 {
  top: 0;
}

.car-cap-3 {
  text-shadow: 2px 2px 2px grey;
}

.about-container {
  padding: 20px;
  background-color: #808F87;
}

.about-text {
  padding: 10px;
}

.about-image {
  height: 400px;
  padding: 10px;
  background-image: url("/assets/data.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.services-container {
  padding: 20px;
  background-color: #9B7E46;
}

.services-column {
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.contact-container {
  padding: 20px;
  background-color: #F4B266;
}

.contact-title {
  text-align: center;
}

.contact-column {
  text-align: center;
  padding: 20px;
}

.line-break {
  border-top: solid;
  padding: 20px;
  color: green;
}

.phone-num {
  text-align: center;
}

.login-logo {
  text-align: center;
  padding: 20px;
}

.login-form-container {
  background-color: #E2EFDE;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 10px;
}

.login-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
