.signup-logo {
  text-align: center;
  padding: 20px;
}

.signup-form-container {
  background-color: #E2EFDE;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 10px;
}

.signup-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.edit-form-container {
  background-color: #E2EFDE;
  padding: 10px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 10px;
}

.edit-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.edit-title {
  text-align: center;
  margin-top: 15px;
}

.profile-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
